{% extends 'layout.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>

</head>
  
<body>

{% block content %}
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <form  action="" method='POST'>
                {% load crispy_forms_tags %}
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href=window.location.href">Cancel</button>
                </form>
            {% else %}
                <meta http-equiv="REFRESH" content="0;url=http://localhost:8000/">
            {% endif %}
            
            
            
        
        </div>
    </div>
{% endblock %}
</body>
</html>